In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#Let's list the files for ma
!ls ./data/ma

allergies.csv	encounters.csv	     medications.csv	patients.csv
careplans.csv	imaging_studies.csv  observations.csv	procedures.csv
conditions.csv	immunizations.csv    organizations.csv	providers.csv

In [4]:
#Let's list the files for ma
!ls ./data/ny

allergies.csv	encounters.csv	     medications.csv	patients.csv
careplans.csv	imaging_studies.csv  observations.csv	procedures.csv
conditions.csv	immunizations.csv    organizations.csv	providers.csv

In [5]:
#Let's create variables for all csv files in ma
allergies_ma = pd.read_csv('./data/ma/allergies.csv')
careplans_ma = pd.read_csv('./data/ma/careplans.csv')
conditions_ma = pd.read_csv('./data/ma/conditions.csv')
encounters_ma = pd.read_csv('./data/ma/encounters.csv')
imaging_ma = pd.read_csv('./data/ma/imaging_studies.csv')
immunizations_ma = pd.read_csv('./data/ma/immunizations.csv')
medications_ma = pd.read_csv('./data/ma/medications.csv')
observations_ma = pd.read_csv('./data/ma/observations.csv')
organizations_ma = pd.read_csv('./data/ma/organizations.csv')
patients_ma = pd.read_csv('./data/ma/patients.csv')
procedures_ma = pd.read_csv('./data/ma/procedures.csv')
providers_ma = pd.read_csv('./data/ma/providers.csv')

In [6]:
#Let's create variables for all csv files in ny
allergies_ny = pd.read_csv('./data/ny/allergies.csv')
careplans_ny = pd.read_csv('./data/ny/careplans.csv')
conditions_ny = pd.read_csv('./data/ny/conditions.csv')
encounters_ny = pd.read_csv('./data/ny/encounters.csv')
imaging_ny = pd.read_csv('./data/ny/imaging_studies.csv')
immunizations_ny = pd.read_csv('./data/ny/immunizations.csv')
medications_ny = pd.read_csv('./data/ny/medications.csv')
observations_ny = pd.read_csv('./data/ny/observations.csv')
organizations_ny = pd.read_csv('./data/ny/organizations.csv')
patients_ny = pd.read_csv('./data/ny/patients.csv')
procedures_ny = pd.read_csv('./data/ny/procedures.csv')
providers_ny = pd.read_csv('./data/ny/providers.csv')

In [56]:
#view column names for all data files in ma

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2013-06-27,NaN,e1ff5cbe-dafa-425c-9552-c409c2751686,4c50083d-e253-42f5-8bbd-206d32cfc8df,232347008,Dander (animal) allergy
1,2013-06-27,NaN,e1ff5cbe-dafa-425c-9552-c409c2751686,4c50083d-e253-42f5-8bbd-206d32cfc8df,91935009,Allergy to peanuts
2,2009-06-05,NaN,23c596b2-2f7f-40e5-b56e-3cd9afdeb2af,cb73670c-7bbb-4e96-893f-e163c4397ea3,300913006,Shellfish allergy
3,1994-06-07,2011-02-24,dac518f2-67dd-4823-b849-871ff7adf670,ed49fb9d-e74f-4d1f-8544-b73341345620,300916003,Latex allergy
4,1994-06-07,NaN,dac518f2-67dd-4823-b849-871ff7adf670,ed49fb9d-e74f-4d1f-8544-b73341345620,424213003,Allergy to bee venom

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,39780635-39e3-4ed7-b5b3-89de1d212c12,2009-08-23,2009-09-13,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,c922b9ed-6c6e-40ac-a309-112439f732c7,225358003,Wound care,283371005.0,Laceration of forearm
1,c121a7f7-12ed-41ce-a2d6-3cb90d636b43,2006-06-28,2016-11-16,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,fcd1c37b-da0b-4f19-9d41-3e44bec198d0,134435003,Routine antenatal care,72892002.0,Normal pregnancy
2,c5a88bac-818b-42ac-8a32-3dea7cd21750,2010-07-05,2010-08-04,e063f4be-c0c7-4005-aecd-b28768912efd,add5b5ef-9cea-4f95-91a3-2740df4f2b86,385691007,Fracture care,65966004.0,Fracture of forearm
3,d2be914f-49a1-4de7-9ade-b73dbe7362da,2013-08-11,2013-10-10,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,f90e3839-c185-4a3a-8371-2920efdf7223,385691007,Fracture care,58150001.0,Fracture of clavicle
4,a7074eb2-8f00-421d-923c-b286a6afba31,2009-08-03,2009-11-01,14d1d8e4-5124-4638-972a-78d3e3edfb03,3673de56-88be-4062-8514-a6bb1541f329,385691007,Fracture care,58150001.0,Fracture of clavicle

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2005-09-10,NaN,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,f7bdd127-5ce4-4cec-b4a4-c3f2583556b0,40055000,Chronic sinusitis (disorder)
1,2009-07-12,2009-07-26,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,ef42a115-766c-4ba5-9c36-f3ece13973f4,444814009,Viral sinusitis (disorder)
2,2009-08-23,2009-09-13,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,c922b9ed-6c6e-40ac-a309-112439f732c7,283371005,Laceration of forearm
3,2013-04-15,2013-04-29,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3c95a0cb-95fb-4aea-9be4-a563fe3e9e51,444814009,Viral sinusitis (disorder)
4,2015-11-21,2015-12-05,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,6f0ddcac-a2e7-4da3-85a5-12fecaf6a2a6,444814009,Viral sinusitis (disorder)

,Id,START,STOP,PATIENT,PROVIDER,ENCOUNTERCLASS,CODE,DESCRIPTION,COST,REASONCODE,REASONDESCRIPTION,HIGHCOST
0,f7bdd127-5ce4-4cec-b4a4-c3f2583556b0,2005-09-10T04:49:37Z,2005-09-10T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,ambulatory,185345009,Encounter for symptom,6.345852,36971009.0,Sinusitis (disorder),0
1,ef42a115-766c-4ba5-9c36-f3ece13973f4,2009-07-12T04:49:37Z,2009-07-12T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,ambulatory,185345009,Encounter for symptom,10.488520,444814009.0,Viral sinusitis (disorder),0
2,c922b9ed-6c6e-40ac-a309-112439f732c7,2009-08-23T04:49:37Z,2009-08-23T06:10:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d78e84ec-30aa-3bba-a33a-f29a3a454662,emergency,50849002,Emergency room admission (procedure),12.602513,NaN,NaN,0
3,56921ac8-6a74-4276-a31c-2930d31d4f51,2011-11-04T04:49:37Z,2011-11-04T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,wellness,185349003,Encounter for check up (procedure),30.659710,NaN,NaN,0
4,3c95a0cb-95fb-4aea-9be4-a563fe3e9e51,2013-04-15T04:49:37Z,2013-04-15T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,ambulatory,185345009,Encounter for symptom,-0.265120,444814009.0,Viral sinusitis (disorder),0

,Id,DATE,PATIENT,ENCOUNTER,BODYSITE_CODE,BODYSITE_DESCRIPTION,MODALITY_CODE,MODALITY_DESCRIPTION,SOP_CODE,SOP_DESCRIPTION
0,d781d092-08f6-4558-81a3-5b333ecc8895,2010-07-05,e063f4be-c0c7-4005-aecd-b28768912efd,add5b5ef-9cea-4f95-91a3-2740df4f2b86,40983000,Arm,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
1,962603d6-a389-4bfc-b87a-6c390e7b8c3f,2013-08-11,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,f90e3839-c185-4a3a-8371-2920efdf7223,51299004,Clavicle,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
2,bfcd0c17-7d83-41c0-8d72-de711792e200,2009-08-03,14d1d8e4-5124-4638-972a-78d3e3edfb03,3673de56-88be-4062-8514-a6bb1541f329,51299004,Clavicle,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
3,3d6331b2-1cbe-4da1-81ba-d3d62cac6070,2016-12-04,75446cd4-3c69-443f-a5aa-f709fdd58ae4,b02f7830-1503-4a99-8b1a-2a73f1d01451,40983000,Arm,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
4,bf3f1b8b-36f1-47a4-b310-3cbd3dcc0ea1,2009-12-25,aca191cb-dc52-4edb-b858-6af226e95816,76574bf6-97d3-4f55-b044-fd0ed98bd94f,40983000,Arm,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST
0,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,140,Influenza seasonal injectable preservative ...,140.52
1,2014-11-06,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,5ff77deb-115f-49d9-9d7b-4296d2d6cfba,140,Influenza seasonal injectable preservative ...,140.52
2,2016-11-10,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3b49684b-a038-4a33-a99a-6ab140e33446,140,Influenza seasonal injectable preservative ...,140.52
3,2016-11-10,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3b49684b-a038-4a33-a99a-6ab140e33446,113,Td (adult) preservative free,140.52
4,2016-11-10,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3b49684b-a038-4a33-a99a-6ab140e33446,52,Hep A adult,140.52

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2009-08-23,2009-09-13,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,c922b9ed-6c6e-40ac-a309-112439f732c7,849574,Naproxen sodium 220 MG Oral Tablet,5.99,1,5.99,NaN,NaN
1,2015-11-21,2015-12-05,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,6f0ddcac-a2e7-4da3-85a5-12fecaf6a2a6,562251,Amoxicillin 250 MG / Clavulanate 125 MG Oral T...,44.18,1,44.18,444814009.0,Viral sinusitis (disorder)
2,2009-02-08,2010-02-03,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,891f83a0-985b-4fc4-b6b7-401d15362993,1359133,Estrostep Fe 28 Day Pack,21.72,12,260.64,NaN,NaN
3,2011-05-17,2011-05-31,ce20e1d8-e545-43c7-891b-54eaac53661a,e3ddbbf5-bfbb-4e79-bd44-2329e38c1568,308182,Amoxicillin 250 MG Oral Capsule,7.81,1,7.81,NaN,NaN
4,2010-07-05,2010-08-04,e063f4be-c0c7-4005-aecd-b28768912efd,add5b5ef-9cea-4f95-91a3-2740df4f2b86,313782,Acetaminophen 325 MG Oral Tablet,5.80,1,5.80,NaN,NaN

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,8302-2,Body Height,177.3,cm,numeric
1,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,0.1,{score},numeric
2,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,29463-7,Body Weight,89.2,kg,numeric
3,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,39156-5,Body Mass Index,28.4,kg/m2,numeric
4,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,8462-4,Diastolic Blood Pressure,85.6,mm[Hg],numeric

,Id,NAME,ADDRESS,CITY,STATE,ZIP,PHONE,UTILIZATION
0,ef58ea08-d883-3957-8300-150554edc8fb,HEALTHALLIANCE HOSPITALS INC,60 HOSPITAL ROAD,LEOMINSTER,MA,1453,9784662000,11160
1,69176529-fd1f-3b3f-abce-a0a3626769eb,MOUNT AUBURN HOSPITAL,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,2138,6174923500,13176
2,5e765f2b-e908-3888-9fc7-df2cb87beb58,STURDY MEMORIAL HOSPITAL,211 PARK STREET,ATTLEBORO,MA,2703,5082225200,19932
3,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,LAWRENCE GENERAL HOSPITAL,ONE GENERAL STREET,LAWRENCE,MA,1842,9786834000,15618
4,e002090d-4e92-300e-b41e-7d1f21dee4c6,CAMBRIDGE HEALTH ALLIANCE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,2138,6176652300,17454

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,ZIP
0,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,1975-08-15,NaN,999-63-1071,S99955890,X86055516X,Mr.,Salvador46,Roybal79,NaN,NaN,M,hispanic,central_american,M,San Salvador El Salvador SV,1043 Wolff Road Apt 95,Boston,Massachusetts,2108.0
1,5dbc3634-4836-4954-a066-c249e41e4327,2013-06-10,NaN,999-82-6416,NaN,NaN,NaN,Herb645,Kilback373,NaN,NaN,NaN,white,american,M,Wayland Massachusetts US,904 Hilpert Spur Apt 40,New Bedford,Massachusetts,2740.0
2,e063f4be-c0c7-4005-aecd-b28768912efd,1995-04-25,NaN,999-62-3883,S99999118,X29039559X,Mr.,Gregg522,Bergnaum523,NaN,NaN,NaN,asian,asian_indian,M,Scituate Massachusetts US,775 Morar Boulevard,Boston,Massachusetts,2108.0
3,e1ff5cbe-dafa-425c-9552-c409c2751686,2012-02-16,NaN,999-59-9517,NaN,NaN,NaN,Cristobal567,Macejkovic424,NaN,NaN,NaN,white,english,M,Bedford Massachusetts US,392 Cronin Center,Brockton,Massachusetts,2301.0
4,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,1981-04-01,NaN,999-21-8344,S99952131,X34401015X,Mrs.,Susana117,Wiegand701,NaN,Volkman526,M,asian,chinese,F,Chongqing Chongqing Municipality CN,553 Cummings Street,New Bedford,Massachusetts,2740.0

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST,REASONCODE,REASONDESCRIPTION
0,2009-08-23,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,c922b9ed-6c6e-40ac-a309-112439f732c7,288086009,Suture open wound,8195.50,283371005.0,Laceration of forearm
1,2014-11-06,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,5ff77deb-115f-49d9-9d7b-4296d2d6cfba,428191000124101,Documentation of current medications,367.37,NaN,NaN
2,2018-11-15,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,f92490d0-be9b-41ed-ab31-254880b0562a,428191000124101,Documentation of current medications,758.73,NaN,NaN
3,2009-05-26,e063f4be-c0c7-4005-aecd-b28768912efd,758b6ba3-6376-44ad-861c-56da9d33b068,428191000124101,Documentation of current medications,486.04,NaN,NaN
4,2012-02-16,e1ff5cbe-dafa-425c-9552-c409c2751686,8c4abb1f-ce61-46be-a204-9b55c7ad6ea6,428191000124101,Documentation of current medications,654.14,NaN,NaN

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,UTILIZATION
0,145ee763-5641-491c-8454-2b63526796e0,ef58ea08-d883-3957-8300-150554edc8fb,Noe500 Dibbert990,M,GENERAL PRACTICE,60 HOSPITAL ROAD,LEOMINSTER,MA,1453,11160
1,9e616b4d-96c3-4ce1-a45f-800718b1b0aa,69176529-fd1f-3b3f-abce-a0a3626769eb,Mariam937 Gleason633,F,GENERAL PRACTICE,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,2138,13176
2,0bccef74-13e4-4fa8-ac44-c5ac614e011b,5e765f2b-e908-3888-9fc7-df2cb87beb58,Dagny669 Schoen8,F,GENERAL PRACTICE,211 PARK STREET,ATTLEBORO,MA,2703,19932
3,3538de02-9e13-4b84-917e-eddc51668ff0,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,Tyron580 Torphy630,M,GENERAL PRACTICE,ONE GENERAL STREET,LAWRENCE,MA,1842,15618
4,f0ec722e-f0a4-44c0-b955-bc0375daf24c,e002090d-4e92-300e-b41e-7d1f21dee4c6,Loren192 Fay398,M,GENERAL PRACTICE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,2138,17454

In [10]:
careplans_ma.head()

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,39780635-39e3-4ed7-b5b3-89de1d212c12,2009-08-23,2009-09-13,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,c922b9ed-6c6e-40ac-a309-112439f732c7,225358003,Wound care,283371005.0,Laceration of forearm
1,c121a7f7-12ed-41ce-a2d6-3cb90d636b43,2006-06-28,2016-11-16,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,fcd1c37b-da0b-4f19-9d41-3e44bec198d0,134435003,Routine antenatal care,72892002.0,Normal pregnancy
2,c5a88bac-818b-42ac-8a32-3dea7cd21750,2010-07-05,2010-08-04,e063f4be-c0c7-4005-aecd-b28768912efd,add5b5ef-9cea-4f95-91a3-2740df4f2b86,385691007,Fracture care,65966004.0,Fracture of forearm
3,d2be914f-49a1-4de7-9ade-b73dbe7362da,2013-08-11,2013-10-10,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,f90e3839-c185-4a3a-8371-2920efdf7223,385691007,Fracture care,58150001.0,Fracture of clavicle
4,a7074eb2-8f00-421d-923c-b286a6afba31,2009-08-03,2009-11-01,14d1d8e4-5124-4638-972a-78d3e3edfb03,3673de56-88be-4062-8514-a6bb1541f329,385691007,Fracture care,58150001.0,Fracture of clavicle

In [11]:
conditions_ma.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2005-09-10,NaN,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,f7bdd127-5ce4-4cec-b4a4-c3f2583556b0,40055000,Chronic sinusitis (disorder)
1,2009-07-12,2009-07-26,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,ef42a115-766c-4ba5-9c36-f3ece13973f4,444814009,Viral sinusitis (disorder)
2,2009-08-23,2009-09-13,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,c922b9ed-6c6e-40ac-a309-112439f732c7,283371005,Laceration of forearm
3,2013-04-15,2013-04-29,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3c95a0cb-95fb-4aea-9be4-a563fe3e9e51,444814009,Viral sinusitis (disorder)
4,2015-11-21,2015-12-05,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,6f0ddcac-a2e7-4da3-85a5-12fecaf6a2a6,444814009,Viral sinusitis (disorder)

In [12]:
encounters_ma.head()

,Id,START,STOP,PATIENT,PROVIDER,ENCOUNTERCLASS,CODE,DESCRIPTION,COST,REASONCODE,REASONDESCRIPTION,HIGHCOST
0,f7bdd127-5ce4-4cec-b4a4-c3f2583556b0,2005-09-10T04:49:37Z,2005-09-10T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,ambulatory,185345009,Encounter for symptom,6.345852,36971009.0,Sinusitis (disorder),0
1,ef42a115-766c-4ba5-9c36-f3ece13973f4,2009-07-12T04:49:37Z,2009-07-12T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,ambulatory,185345009,Encounter for symptom,10.488520,444814009.0,Viral sinusitis (disorder),0
2,c922b9ed-6c6e-40ac-a309-112439f732c7,2009-08-23T04:49:37Z,2009-08-23T06:10:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d78e84ec-30aa-3bba-a33a-f29a3a454662,emergency,50849002,Emergency room admission (procedure),12.602513,NaN,NaN,0
3,56921ac8-6a74-4276-a31c-2930d31d4f51,2011-11-04T04:49:37Z,2011-11-04T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,wellness,185349003,Encounter for check up (procedure),30.659710,NaN,NaN,0
4,3c95a0cb-95fb-4aea-9be4-a563fe3e9e51,2013-04-15T04:49:37Z,2013-04-15T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,ambulatory,185345009,Encounter for symptom,-0.265120,444814009.0,Viral sinusitis (disorder),0

In [13]:
imaging_ma.head()

,Id,DATE,PATIENT,ENCOUNTER,BODYSITE_CODE,BODYSITE_DESCRIPTION,MODALITY_CODE,MODALITY_DESCRIPTION,SOP_CODE,SOP_DESCRIPTION
0,d781d092-08f6-4558-81a3-5b333ecc8895,2010-07-05,e063f4be-c0c7-4005-aecd-b28768912efd,add5b5ef-9cea-4f95-91a3-2740df4f2b86,40983000,Arm,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
1,962603d6-a389-4bfc-b87a-6c390e7b8c3f,2013-08-11,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,f90e3839-c185-4a3a-8371-2920efdf7223,51299004,Clavicle,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
2,bfcd0c17-7d83-41c0-8d72-de711792e200,2009-08-03,14d1d8e4-5124-4638-972a-78d3e3edfb03,3673de56-88be-4062-8514-a6bb1541f329,51299004,Clavicle,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
3,3d6331b2-1cbe-4da1-81ba-d3d62cac6070,2016-12-04,75446cd4-3c69-443f-a5aa-f709fdd58ae4,b02f7830-1503-4a99-8b1a-2a73f1d01451,40983000,Arm,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
4,bf3f1b8b-36f1-47a4-b310-3cbd3dcc0ea1,2009-12-25,aca191cb-dc52-4edb-b858-6af226e95816,76574bf6-97d3-4f55-b044-fd0ed98bd94f,40983000,Arm,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage

In [14]:
immunizations_ma.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST
0,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,140,Influenza seasonal injectable preservative ...,140.52
1,2014-11-06,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,5ff77deb-115f-49d9-9d7b-4296d2d6cfba,140,Influenza seasonal injectable preservative ...,140.52
2,2016-11-10,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3b49684b-a038-4a33-a99a-6ab140e33446,140,Influenza seasonal injectable preservative ...,140.52
3,2016-11-10,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3b49684b-a038-4a33-a99a-6ab140e33446,113,Td (adult) preservative free,140.52
4,2016-11-10,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3b49684b-a038-4a33-a99a-6ab140e33446,52,Hep A adult,140.52

In [15]:
medications_ma.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2009-08-23,2009-09-13,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,c922b9ed-6c6e-40ac-a309-112439f732c7,849574,Naproxen sodium 220 MG Oral Tablet,5.99,1,5.99,NaN,NaN
1,2015-11-21,2015-12-05,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,6f0ddcac-a2e7-4da3-85a5-12fecaf6a2a6,562251,Amoxicillin 250 MG / Clavulanate 125 MG Oral T...,44.18,1,44.18,444814009.0,Viral sinusitis (disorder)
2,2009-02-08,2010-02-03,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,891f83a0-985b-4fc4-b6b7-401d15362993,1359133,Estrostep Fe 28 Day Pack,21.72,12,260.64,NaN,NaN
3,2011-05-17,2011-05-31,ce20e1d8-e545-43c7-891b-54eaac53661a,e3ddbbf5-bfbb-4e79-bd44-2329e38c1568,308182,Amoxicillin 250 MG Oral Capsule,7.81,1,7.81,NaN,NaN
4,2010-07-05,2010-08-04,e063f4be-c0c7-4005-aecd-b28768912efd,add5b5ef-9cea-4f95-91a3-2740df4f2b86,313782,Acetaminophen 325 MG Oral Tablet,5.80,1,5.80,NaN,NaN

In [16]:
observations_ma.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,8302-2,Body Height,177.3,cm,numeric
1,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,0.1,{score},numeric
2,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,29463-7,Body Weight,89.2,kg,numeric
3,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,39156-5,Body Mass Index,28.4,kg/m2,numeric
4,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,8462-4,Diastolic Blood Pressure,85.6,mm[Hg],numeric

In [17]:
organizations_ma.head()

,Id,NAME,ADDRESS,CITY,STATE,ZIP,PHONE,UTILIZATION
0,ef58ea08-d883-3957-8300-150554edc8fb,HEALTHALLIANCE HOSPITALS INC,60 HOSPITAL ROAD,LEOMINSTER,MA,1453,9784662000,11160
1,69176529-fd1f-3b3f-abce-a0a3626769eb,MOUNT AUBURN HOSPITAL,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,2138,6174923500,13176
2,5e765f2b-e908-3888-9fc7-df2cb87beb58,STURDY MEMORIAL HOSPITAL,211 PARK STREET,ATTLEBORO,MA,2703,5082225200,19932
3,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,LAWRENCE GENERAL HOSPITAL,ONE GENERAL STREET,LAWRENCE,MA,1842,9786834000,15618
4,e002090d-4e92-300e-b41e-7d1f21dee4c6,CAMBRIDGE HEALTH ALLIANCE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,2138,6176652300,17454

In [18]:
patients_ma.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,ZIP
0,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,1975-08-15,NaN,999-63-1071,S99955890,X86055516X,Mr.,Salvador46,Roybal79,NaN,NaN,M,hispanic,central_american,M,San Salvador El Salvador SV,1043 Wolff Road Apt 95,Boston,Massachusetts,2108.0
1,5dbc3634-4836-4954-a066-c249e41e4327,2013-06-10,NaN,999-82-6416,NaN,NaN,NaN,Herb645,Kilback373,NaN,NaN,NaN,white,american,M,Wayland Massachusetts US,904 Hilpert Spur Apt 40,New Bedford,Massachusetts,2740.0
2,e063f4be-c0c7-4005-aecd-b28768912efd,1995-04-25,NaN,999-62-3883,S99999118,X29039559X,Mr.,Gregg522,Bergnaum523,NaN,NaN,NaN,asian,asian_indian,M,Scituate Massachusetts US,775 Morar Boulevard,Boston,Massachusetts,2108.0
3,e1ff5cbe-dafa-425c-9552-c409c2751686,2012-02-16,NaN,999-59-9517,NaN,NaN,NaN,Cristobal567,Macejkovic424,NaN,NaN,NaN,white,english,M,Bedford Massachusetts US,392 Cronin Center,Brockton,Massachusetts,2301.0
4,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,1981-04-01,NaN,999-21-8344,S99952131,X34401015X,Mrs.,Susana117,Wiegand701,NaN,Volkman526,M,asian,chinese,F,Chongqing Chongqing Municipality CN,553 Cummings Street,New Bedford,Massachusetts,2740.0

In [19]:
procedures_ma.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST,REASONCODE,REASONDESCRIPTION
0,2009-08-23,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,c922b9ed-6c6e-40ac-a309-112439f732c7,288086009,Suture open wound,8195.50,283371005.0,Laceration of forearm
1,2014-11-06,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,5ff77deb-115f-49d9-9d7b-4296d2d6cfba,428191000124101,Documentation of current medications,367.37,NaN,NaN
2,2018-11-15,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,f92490d0-be9b-41ed-ab31-254880b0562a,428191000124101,Documentation of current medications,758.73,NaN,NaN
3,2009-05-26,e063f4be-c0c7-4005-aecd-b28768912efd,758b6ba3-6376-44ad-861c-56da9d33b068,428191000124101,Documentation of current medications,486.04,NaN,NaN
4,2012-02-16,e1ff5cbe-dafa-425c-9552-c409c2751686,8c4abb1f-ce61-46be-a204-9b55c7ad6ea6,428191000124101,Documentation of current medications,654.14,NaN,NaN

In [21]:
providers_ma.head()

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,UTILIZATION
0,145ee763-5641-491c-8454-2b63526796e0,ef58ea08-d883-3957-8300-150554edc8fb,Noe500 Dibbert990,M,GENERAL PRACTICE,60 HOSPITAL ROAD,LEOMINSTER,MA,1453,11160
1,9e616b4d-96c3-4ce1-a45f-800718b1b0aa,69176529-fd1f-3b3f-abce-a0a3626769eb,Mariam937 Gleason633,F,GENERAL PRACTICE,330 MOUNT AUBURN STREET,CAMBRIDGE,MA,2138,13176
2,0bccef74-13e4-4fa8-ac44-c5ac614e011b,5e765f2b-e908-3888-9fc7-df2cb87beb58,Dagny669 Schoen8,F,GENERAL PRACTICE,211 PARK STREET,ATTLEBORO,MA,2703,19932
3,3538de02-9e13-4b84-917e-eddc51668ff0,f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4,Tyron580 Torphy630,M,GENERAL PRACTICE,ONE GENERAL STREET,LAWRENCE,MA,1842,15618
4,f0ec722e-f0a4-44c0-b955-bc0375daf24c,e002090d-4e92-300e-b41e-7d1f21dee4c6,Loren192 Fay398,M,GENERAL PRACTICE,1493 CAMBRIDGE STREET,CAMBRIDGE,MA,2138,17454

In [22]:
#column names for all data files in ny
allergies_ny.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,1981-08-30,NaN,f307187d-65e5-4641-87c3-88c00116b767,625eddad-6f4a-402d-877f-8d589813f59f,424213003,Allergy to bee venom
1,1981-08-30,NaN,f307187d-65e5-4641-87c3-88c00116b767,625eddad-6f4a-402d-877f-8d589813f59f,419474003,Allergy to mould
2,1981-08-30,NaN,f307187d-65e5-4641-87c3-88c00116b767,625eddad-6f4a-402d-877f-8d589813f59f,300913006,Shellfish allergy
3,1981-08-30,NaN,f307187d-65e5-4641-87c3-88c00116b767,625eddad-6f4a-402d-877f-8d589813f59f,91935009,Allergy to peanuts
4,2010-01-26,NaN,ec460181-84c0-42d6-83ec-7dcef2a8c6cd,de8ec331-2e9c-4912-8a75-558711ed28f4,420174000,Allergy to wheat

In [23]:
careplans_ny.head()

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,6f4a0514-2402-42cf-b055-c596fd7ea386,2010-07-05,2010-08-04,725509e1-6e47-4ec5-925d-3a2f480ce47e,0bc9ed7b-b802-4fe9-917d-3b687475cb9b,385691007,Fracture care,65966004.0,Fracture of forearm
1,5a69fe87-6161-4439-92d5-5bc8e2cba753,1988-03-09,NaN,ad6ebff4-6057-42e4-b439-1099e6721f95,4c04dd17-097e-48bc-9a96-cdb530d903de,698360004,Diabetes self management plan,15777000.0,Prediabetes
2,3146e3a1-90bd-40bd-8bf1-dce9ed56d0d9,2008-11-05,2009-06-24,61556e82-a246-436a-9d61-e78097f49a4f,811dd6e7-2df7-4a01-a968-8edd080955a2,134435003,Routine antenatal care,72892002.0,Normal pregnancy
3,8c20be74-6d0c-469d-9927-b7bfe0f54b68,2011-05-14,2011-05-28,de354bdc-463d-4e2b-9f1d-a7863cd76ae5,d8ab83c8-3cf0-4fa0-aa61-38b48453f33a,91251008,Physical therapy procedure,44465007.0,Sprain of ankle
4,7bc10b7c-1c7b-44d4-8120-309ed3080596,2014-02-11,2014-03-11,de354bdc-463d-4e2b-9f1d-a7863cd76ae5,bc74b811-36b2-4100-8b73-7db9635f0256,872781000000100,Musculoskeletal care,39848009.0,Whiplash injury to neck

In [24]:
conditions_ny.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2001-02-22,2001-04-10,725509e1-6e47-4ec5-925d-3a2f480ce47e,083952df-a4df-4b6e-88f0-2aa799a06a78,65363002,Otitis media
1,2005-09-23,NaN,725509e1-6e47-4ec5-925d-3a2f480ce47e,8efe37c8-ab43-465d-a580-99ea0b9508ed,40055000,Chronic sinusitis (disorder)
2,2010-07-05,2010-08-04,725509e1-6e47-4ec5-925d-3a2f480ce47e,0bc9ed7b-b802-4fe9-917d-3b687475cb9b,65966004,Fracture of forearm
3,2011-09-17,2011-10-08,725509e1-6e47-4ec5-925d-3a2f480ce47e,7abeb57c-0893-412d-b044-bc14892c58bf,444814009,Viral sinusitis (disorder)
4,2012-02-11,2012-02-18,725509e1-6e47-4ec5-925d-3a2f480ce47e,2eab0af1-225e-4208-aa9f-c3ae5179a896,444814009,Viral sinusitis (disorder)

In [25]:
encounters_ny.head()

,Id,START,STOP,PATIENT,PROVIDER,ENCOUNTERCLASS,CODE,DESCRIPTION,COST,REASONCODE,REASONDESCRIPTION,HIGHCOST
0,083952df-a4df-4b6e-88f0-2aa799a06a78,2001-02-22T09:12:58Z,2001-02-22T09:27:58Z,725509e1-6e47-4ec5-925d-3a2f480ce47e,97640f80-f706-3f2d-8da6-1106b36f0eec,outpatient,185345009,Encounter for symptom,10.117449,65363002.0,Otitis media,0
1,8efe37c8-ab43-465d-a580-99ea0b9508ed,2005-09-23T09:12:58Z,2005-09-23T09:27:58Z,725509e1-6e47-4ec5-925d-3a2f480ce47e,9c27526b-44b7-3e52-ad01-52b1b3405f59,ambulatory,185345009,Encounter for symptom,13.144751,75498004.0,Acute bacterial sinusitis (disorder),0
2,109f77e2-fff0-47e8-89d0-12ca303fe8c3,2009-05-26T09:12:58Z,2009-05-26T09:42:58Z,725509e1-6e47-4ec5-925d-3a2f480ce47e,9c27526b-44b7-3e52-ad01-52b1b3405f59,wellness,185349003,Encounter for check up (procedure),28.601122,NaN,NaN,0
3,009ab4df-40ae-4e55-8496-436971797854,2013-06-10T21:28:57Z,2013-06-10T21:43:57Z,b4cb6463-68c0-4a69-b4ea-c24518ed8b78,6d1508ec-ceef-3e36-ba87-7ec3aef0707e,wellness,185349003,Encounter for check up (procedure),31.509757,NaN,NaN,1
4,de8c6d26-99ce-4ef2-95df-e2144e7a2e6d,2009-11-02T12:38:51Z,2009-11-02T13:08:51Z,de354bdc-463d-4e2b-9f1d-a7863cd76ae5,77598ae8-aff4-374f-948c-82ada31e3491,wellness,185349003,Encounter for check up (procedure),23.131242,NaN,NaN,0

In [26]:
imaging_ny.head()

,Id,DATE,PATIENT,ENCOUNTER,BODYSITE_CODE,BODYSITE_DESCRIPTION,MODALITY_CODE,MODALITY_DESCRIPTION,SOP_CODE,SOP_DESCRIPTION
0,73c3e047-6909-48d4-8d54-34c5de053e06,2010-07-05,725509e1-6e47-4ec5-925d-3a2f480ce47e,0bc9ed7b-b802-4fe9-917d-3b687475cb9b,40983000,Arm,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
1,fdbc7103-b577-43aa-8e20-f03a6d8917b9,2009-12-25,7fb58372-913e-4ec3-96df-1952a6b7d11a,4aa33a49-cb44-47de-b7a1-e7022c66c44f,8205005,Wrist,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
2,b5f204c4-1b75-456a-b74f-dbd7d7c3bb46,2016-09-30,18a4114a-22e4-46a2-94f2-e6afd4743046,8fb50878-60f3-4f0a-811f-bb374e0f8b6b,72696002,Knee,DX,Digital Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage
3,db9487d9-9cb0-44a5-9acb-e718457be1c0,1995-03-16,433fe247-5f18-4a66-b437-5ea310c65490,51df5b13-7ecc-43dc-bb52-697700c8abbf,261179002,thoracic,US,Ultrasound,1.2.840.10008.5.1.4.1.1.3.1,Ultrasound Multiframe Image Storage
4,cc6ea3e0-b4a6-4867-ae81-f41919df2b64,1995-09-12,433fe247-5f18-4a66-b437-5ea310c65490,f2174848-6d66-40b7-a3a7-284a99431962,51185008,Thoracic structure (body structure),CR,Computed Radiography,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage – for Presentation

In [27]:
immunizations_ny.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST
0,2009-05-26,725509e1-6e47-4ec5-925d-3a2f480ce47e,109f77e2-fff0-47e8-89d0-12ca303fe8c3,140,Influenza seasonal injectable preservative ...,125.48
1,2010-06-01,725509e1-6e47-4ec5-925d-3a2f480ce47e,5f55090e-5124-4224-a324-c2d5503f3141,140,Influenza seasonal injectable preservative ...,125.48
2,2011-06-07,725509e1-6e47-4ec5-925d-3a2f480ce47e,960c2dd2-6549-41f7-b145-dea4f6b25d73,140,Influenza seasonal injectable preservative ...,125.48
3,2011-06-07,725509e1-6e47-4ec5-925d-3a2f480ce47e,960c2dd2-6549-41f7-b145-dea4f6b25d73,114,meningococcal MCV4P,125.48
4,2012-06-12,725509e1-6e47-4ec5-925d-3a2f480ce47e,94de3892-9753-47a0-811a-9f148c24aa4d,140,Influenza seasonal injectable preservative ...,125.48

In [28]:
medications_ny.head()

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2010-07-05,2010-08-04,725509e1-6e47-4ec5-925d-3a2f480ce47e,0bc9ed7b-b802-4fe9-917d-3b687475cb9b,313782,Acetaminophen 325 MG Oral Tablet,5.18,1,5.18,NaN,NaN
1,2013-11-12,NaN,725509e1-6e47-4ec5-925d-3a2f480ce47e,496f1217-cc0b-48d2-b10d-3a571dc32b4c,309362,Clopidogrel 75 MG Oral Tablet,54.57,66,3601.62,NaN,NaN
2,2013-11-12,NaN,725509e1-6e47-4ec5-925d-3a2f480ce47e,496f1217-cc0b-48d2-b10d-3a571dc32b4c,705129,Nitroglycerin 0.4 MG/ACTUAT Mucosal Spray,181.83,66,12000.78,NaN,NaN
3,2013-11-12,NaN,725509e1-6e47-4ec5-925d-3a2f480ce47e,496f1217-cc0b-48d2-b10d-3a571dc32b4c,312961,Simvastatin 20 MG Oral Tablet,11.71,66,772.86,NaN,NaN
4,2013-11-12,NaN,725509e1-6e47-4ec5-925d-3a2f480ce47e,496f1217-cc0b-48d2-b10d-3a571dc32b4c,197361,Amlodipine 5 MG Oral Tablet,13.26,66,875.16,NaN,NaN

In [29]:
observations_ny.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2009-05-26,725509e1-6e47-4ec5-925d-3a2f480ce47e,109f77e2-fff0-47e8-89d0-12ca303fe8c3,8302-2,Body Height,157.8,cm,numeric
1,2009-05-26,725509e1-6e47-4ec5-925d-3a2f480ce47e,109f77e2-fff0-47e8-89d0-12ca303fe8c3,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,3.4,{score},numeric
2,2009-05-26,725509e1-6e47-4ec5-925d-3a2f480ce47e,109f77e2-fff0-47e8-89d0-12ca303fe8c3,29463-7,Body Weight,53.7,kg,numeric
3,2009-05-26,725509e1-6e47-4ec5-925d-3a2f480ce47e,109f77e2-fff0-47e8-89d0-12ca303fe8c3,39156-5,Body Mass Index,21.6,kg/m2,numeric
4,2009-05-26,725509e1-6e47-4ec5-925d-3a2f480ce47e,109f77e2-fff0-47e8-89d0-12ca303fe8c3,8462-4,Diastolic Blood Pressure,75.4,mm[Hg],numeric

In [30]:
organizations_ny.head()

,Id,NAME,ADDRESS,CITY,STATE,ZIP,PHONE,UTILIZATION
0,9eb5bce7-4f23-31ca-b2c3-336d34198ed3,ALBANY MEMORIAL HOSPITAL,600 NORTHERN BOULEVARD,ALBANY,NY,12204,5184713490,5839
1,5ff247c8-5951-3707-935c-a87444ebd47b,HEALTHALLIANCE HOSPITAL BROADWAY CAMPUS,396 BROADWAY,KINGSTON,NY,12401,9143313131,2146
2,97640f80-f706-3f2d-8da6-1106b36f0eec,KALEIDA HEALTH,726 EXCHANGE STREET SUITE 522,BUFFALO,NY,14210,7168598620,16557
3,fcd5df52-c1a8-3110-873e-64a32a0dd0bb,ST JOSEPH'S MEDICAL CENTER,127 SOUTH BROADWAY,YONKERS,NY,10701,9143787000,18877
4,b0586c8f-3aac-3406-b7f4-c53784a34572,WYOMING COUNTY COMMUNITY HOSPITAL,400 NORTH MAIN STREET,WARSAW,NY,14569,5857862233,4126

In [31]:
patients_ny.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,ZIP
0,725509e1-6e47-4ec5-925d-3a2f480ce47e,1995-04-25,NaN,999-62-3883,S99999118,X29039559X,Mr.,Gregg522,Bergnaum523,NaN,NaN,NaN,asian,asian_indian,M,Saranac Lake New York US,775 Morar Boulevard,Buffalo,New York,14201.0
1,21308153-14e5-41ce-a96e-39b2e6c1fda9,2012-02-16,NaN,999-59-9517,NaN,NaN,NaN,Cristobal567,Macejkovic424,NaN,NaN,NaN,white,english,M,Valley Stream New York US,147 Marvin Trailer,East Fishkill,New York,NaN
2,b4cb6463-68c0-4a69-b4ea-c24518ed8b78,2013-06-10,NaN,999-82-6416,NaN,NaN,NaN,Herb645,Kilback373,NaN,NaN,NaN,white,american,M,Preble New York US,258 Wisoky Stravenue Suite 71,Newark,New York,14513.0
3,de354bdc-463d-4e2b-9f1d-a7863cd76ae5,1998-10-19,NaN,999-84-9420,S99947665,X4204022X,Ms.,Nana422,Cole117,NaN,NaN,NaN,white,german,F,Monroe New York US,299 Crooks Promenade,Falconer,New York,14701.0
4,61556e82-a246-436a-9d61-e78097f49a4f,1981-04-01,NaN,999-21-8344,S99912023,X21566036X,Mrs.,Susana117,Crona259,NaN,Volkman526,M,asian,chinese,F,Chongqing Chongqing Municipality CN,553 Cummings Street,Niagara Falls,New York,14301.0

In [32]:
procedures_ny.head()

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST,REASONCODE,REASONDESCRIPTION
0,2009-05-26,725509e1-6e47-4ec5-925d-3a2f480ce47e,109f77e2-fff0-47e8-89d0-12ca303fe8c3,428191000124101,Documentation of current medications,434.01,NaN,NaN
1,2010-06-01,725509e1-6e47-4ec5-925d-3a2f480ce47e,5f55090e-5124-4224-a324-c2d5503f3141,428191000124101,Documentation of current medications,373.49,NaN,NaN
2,2010-07-05,725509e1-6e47-4ec5-925d-3a2f480ce47e,0bc9ed7b-b802-4fe9-917d-3b687475cb9b,1225002,Upper arm X-ray,461.34,NaN,NaN
3,2010-07-05,725509e1-6e47-4ec5-925d-3a2f480ce47e,0bc9ed7b-b802-4fe9-917d-3b687475cb9b,274474001,Bone immobilization,461.34,65966004.0,Fracture of forearm
4,2011-06-07,725509e1-6e47-4ec5-925d-3a2f480ce47e,960c2dd2-6549-41f7-b145-dea4f6b25d73,428191000124101,Documentation of current medications,596.65,NaN,NaN

In [33]:
providers_ny.head()

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,UTILIZATION
0,da7d9d50-d4c2-4843-b471-0b8d4a66260d,9eb5bce7-4f23-31ca-b2c3-336d34198ed3,Noe500 Dibbert990,M,GENERAL PRACTICE,600 NORTHERN BOULEVARD,ALBANY,NY,12204,5839
1,ec835210-be4b-4767-bd54-9e400579ac69,5ff247c8-5951-3707-935c-a87444ebd47b,Mariam937 Gleason633,F,GENERAL PRACTICE,396 BROADWAY,KINGSTON,NY,12401,2146
2,b19a6ed4-936b-48cf-9aac-5ae8f2fec6e2,97640f80-f706-3f2d-8da6-1106b36f0eec,Dagny669 Schoen8,F,GENERAL PRACTICE,726 EXCHANGE STREET SUITE 522,BUFFALO,NY,14210,16557
3,5e4ba2aa-59f1-49e5-9a2c-9fd085d3e6ab,fcd5df52-c1a8-3110-873e-64a32a0dd0bb,Tyron580 Torphy630,M,GENERAL PRACTICE,127 SOUTH BROADWAY,YONKERS,NY,10701,18877
4,bfedd107-1be9-46df-ac3e-cca08d7475f5,b0586c8f-3aac-3406-b7f4-c53784a34572,Loren192 Fay398,M,GENERAL PRACTICE,400 NORTH MAIN STREET,WARSAW,NY,14569,4126

In [34]:
# Data files with patients, medic/treatment with cost: 
# patients, medications, immunizations, encounters, conditions, imaging, careplans, allergies
# can we merge these data files to give us one dataset?

In [36]:
#First create data frames for selected datasets above
df_encounters_ma = pd.DataFrame(encounters_ma)
df_immunizations_ma = pd.DataFrame(immunizations_ma)
df_medications_ma = pd.DataFrame(medications_ma)
df_patients_ma = pd.DataFrame(patients_ma)

In [63]:
display (encounters_ma.head(), immunizations_ma.head(), medications_ma.head(), patients_ma.head())

,Id,START,STOP,PATIENT,PROVIDER,ENCOUNTERCLASS,CODE,DESCRIPTION,COST,REASONCODE,REASONDESCRIPTION,HIGHCOST
0,f7bdd127-5ce4-4cec-b4a4-c3f2583556b0,2005-09-10T04:49:37Z,2005-09-10T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,ambulatory,185345009,Encounter for symptom,6.345852,36971009.0,Sinusitis (disorder),0
1,ef42a115-766c-4ba5-9c36-f3ece13973f4,2009-07-12T04:49:37Z,2009-07-12T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,ambulatory,185345009,Encounter for symptom,10.488520,444814009.0,Viral sinusitis (disorder),0
2,c922b9ed-6c6e-40ac-a309-112439f732c7,2009-08-23T04:49:37Z,2009-08-23T06:10:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d78e84ec-30aa-3bba-a33a-f29a3a454662,emergency,50849002,Emergency room admission (procedure),12.602513,NaN,NaN,0
3,56921ac8-6a74-4276-a31c-2930d31d4f51,2011-11-04T04:49:37Z,2011-11-04T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,wellness,185349003,Encounter for check up (procedure),30.659710,NaN,NaN,0
4,3c95a0cb-95fb-4aea-9be4-a563fe3e9e51,2013-04-15T04:49:37Z,2013-04-15T05:04:37Z,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,d733d4a9-080d-3593-b910-2366e652b7ea,ambulatory,185345009,Encounter for symptom,-0.265120,444814009.0,Viral sinusitis (disorder),0

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST
0,2011-11-04,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,56921ac8-6a74-4276-a31c-2930d31d4f51,140,Influenza seasonal injectable preservative ...,140.52
1,2014-11-06,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,5ff77deb-115f-49d9-9d7b-4296d2d6cfba,140,Influenza seasonal injectable preservative ...,140.52
2,2016-11-10,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3b49684b-a038-4a33-a99a-6ab140e33446,140,Influenza seasonal injectable preservative ...,140.52
3,2016-11-10,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3b49684b-a038-4a33-a99a-6ab140e33446,113,Td (adult) preservative free,140.52
4,2016-11-10,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,3b49684b-a038-4a33-a99a-6ab140e33446,52,Hep A adult,140.52

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2009-08-23,2009-09-13,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,c922b9ed-6c6e-40ac-a309-112439f732c7,849574,Naproxen sodium 220 MG Oral Tablet,5.99,1,5.99,NaN,NaN
1,2015-11-21,2015-12-05,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,6f0ddcac-a2e7-4da3-85a5-12fecaf6a2a6,562251,Amoxicillin 250 MG / Clavulanate 125 MG Oral T...,44.18,1,44.18,444814009.0,Viral sinusitis (disorder)
2,2009-02-08,2010-02-03,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,891f83a0-985b-4fc4-b6b7-401d15362993,1359133,Estrostep Fe 28 Day Pack,21.72,12,260.64,NaN,NaN
3,2011-05-17,2011-05-31,ce20e1d8-e545-43c7-891b-54eaac53661a,e3ddbbf5-bfbb-4e79-bd44-2329e38c1568,308182,Amoxicillin 250 MG Oral Capsule,7.81,1,7.81,NaN,NaN
4,2010-07-05,2010-08-04,e063f4be-c0c7-4005-aecd-b28768912efd,add5b5ef-9cea-4f95-91a3-2740df4f2b86,313782,Acetaminophen 325 MG Oral Tablet,5.80,1,5.80,NaN,NaN

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,ZIP
0,4b01e963-3afa-4f9b-b3b9-357ba5cdaab0,1975-08-15,NaN,999-63-1071,S99955890,X86055516X,Mr.,Salvador46,Roybal79,NaN,NaN,M,hispanic,central_american,M,San Salvador El Salvador SV,1043 Wolff Road Apt 95,Boston,Massachusetts,2108.0
1,5dbc3634-4836-4954-a066-c249e41e4327,2013-06-10,NaN,999-82-6416,NaN,NaN,NaN,Herb645,Kilback373,NaN,NaN,NaN,white,american,M,Wayland Massachusetts US,904 Hilpert Spur Apt 40,New Bedford,Massachusetts,2740.0
2,e063f4be-c0c7-4005-aecd-b28768912efd,1995-04-25,NaN,999-62-3883,S99999118,X29039559X,Mr.,Gregg522,Bergnaum523,NaN,NaN,NaN,asian,asian_indian,M,Scituate Massachusetts US,775 Morar Boulevard,Boston,Massachusetts,2108.0
3,e1ff5cbe-dafa-425c-9552-c409c2751686,2012-02-16,NaN,999-59-9517,NaN,NaN,NaN,Cristobal567,Macejkovic424,NaN,NaN,NaN,white,english,M,Bedford Massachusetts US,392 Cronin Center,Brockton,Massachusetts,2301.0
4,dc5eb62e-b6d4-4bad-9351-68bee90d0d67,1981-04-01,NaN,999-21-8344,S99952131,X34401015X,Mrs.,Susana117,Wiegand701,NaN,Volkman526,M,asian,chinese,F,Chongqing Chongqing Municipality CN,553 Cummings Street,New Bedford,Massachusetts,2740.0

In [37]:
#Do same for ny
df_encounters_ny = pd.DataFrame(encounters_ny)
df_immunizations_ny = pd.DataFrame(immunizations_ny)
df_medications_ny = pd.DataFrame(medications_ny)
df_patients_ny = pd.DataFrame(patients_ny)

In [64]:
display (encounters_ny.head(), immunizations_ny.head(), medications_ny.head(), patients_ny.head())

,Id,START,STOP,PATIENT,PROVIDER,ENCOUNTERCLASS,CODE,DESCRIPTION,COST,REASONCODE,REASONDESCRIPTION,HIGHCOST
0,083952df-a4df-4b6e-88f0-2aa799a06a78,2001-02-22T09:12:58Z,2001-02-22T09:27:58Z,725509e1-6e47-4ec5-925d-3a2f480ce47e,97640f80-f706-3f2d-8da6-1106b36f0eec,outpatient,185345009,Encounter for symptom,10.117449,65363002.0,Otitis media,0
1,8efe37c8-ab43-465d-a580-99ea0b9508ed,2005-09-23T09:12:58Z,2005-09-23T09:27:58Z,725509e1-6e47-4ec5-925d-3a2f480ce47e,9c27526b-44b7-3e52-ad01-52b1b3405f59,ambulatory,185345009,Encounter for symptom,13.144751,75498004.0,Acute bacterial sinusitis (disorder),0
2,109f77e2-fff0-47e8-89d0-12ca303fe8c3,2009-05-26T09:12:58Z,2009-05-26T09:42:58Z,725509e1-6e47-4ec5-925d-3a2f480ce47e,9c27526b-44b7-3e52-ad01-52b1b3405f59,wellness,185349003,Encounter for check up (procedure),28.601122,NaN,NaN,0
3,009ab4df-40ae-4e55-8496-436971797854,2013-06-10T21:28:57Z,2013-06-10T21:43:57Z,b4cb6463-68c0-4a69-b4ea-c24518ed8b78,6d1508ec-ceef-3e36-ba87-7ec3aef0707e,wellness,185349003,Encounter for check up (procedure),31.509757,NaN,NaN,1
4,de8c6d26-99ce-4ef2-95df-e2144e7a2e6d,2009-11-02T12:38:51Z,2009-11-02T13:08:51Z,de354bdc-463d-4e2b-9f1d-a7863cd76ae5,77598ae8-aff4-374f-948c-82ada31e3491,wellness,185349003,Encounter for check up (procedure),23.131242,NaN,NaN,0

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST
0,2009-05-26,725509e1-6e47-4ec5-925d-3a2f480ce47e,109f77e2-fff0-47e8-89d0-12ca303fe8c3,140,Influenza seasonal injectable preservative ...,125.48
1,2010-06-01,725509e1-6e47-4ec5-925d-3a2f480ce47e,5f55090e-5124-4224-a324-c2d5503f3141,140,Influenza seasonal injectable preservative ...,125.48
2,2011-06-07,725509e1-6e47-4ec5-925d-3a2f480ce47e,960c2dd2-6549-41f7-b145-dea4f6b25d73,140,Influenza seasonal injectable preservative ...,125.48
3,2011-06-07,725509e1-6e47-4ec5-925d-3a2f480ce47e,960c2dd2-6549-41f7-b145-dea4f6b25d73,114,meningococcal MCV4P,125.48
4,2012-06-12,725509e1-6e47-4ec5-925d-3a2f480ce47e,94de3892-9753-47a0-811a-9f148c24aa4d,140,Influenza seasonal injectable preservative ...,125.48

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2010-07-05,2010-08-04,725509e1-6e47-4ec5-925d-3a2f480ce47e,0bc9ed7b-b802-4fe9-917d-3b687475cb9b,313782,Acetaminophen 325 MG Oral Tablet,5.18,1,5.18,NaN,NaN
1,2013-11-12,NaN,725509e1-6e47-4ec5-925d-3a2f480ce47e,496f1217-cc0b-48d2-b10d-3a571dc32b4c,309362,Clopidogrel 75 MG Oral Tablet,54.57,66,3601.62,NaN,NaN
2,2013-11-12,NaN,725509e1-6e47-4ec5-925d-3a2f480ce47e,496f1217-cc0b-48d2-b10d-3a571dc32b4c,705129,Nitroglycerin 0.4 MG/ACTUAT Mucosal Spray,181.83,66,12000.78,NaN,NaN
3,2013-11-12,NaN,725509e1-6e47-4ec5-925d-3a2f480ce47e,496f1217-cc0b-48d2-b10d-3a571dc32b4c,312961,Simvastatin 20 MG Oral Tablet,11.71,66,772.86,NaN,NaN
4,2013-11-12,NaN,725509e1-6e47-4ec5-925d-3a2f480ce47e,496f1217-cc0b-48d2-b10d-3a571dc32b4c,197361,Amlodipine 5 MG Oral Tablet,13.26,66,875.16,NaN,NaN

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,ZIP
0,725509e1-6e47-4ec5-925d-3a2f480ce47e,1995-04-25,NaN,999-62-3883,S99999118,X29039559X,Mr.,Gregg522,Bergnaum523,NaN,NaN,NaN,asian,asian_indian,M,Saranac Lake New York US,775 Morar Boulevard,Buffalo,New York,14201.0
1,21308153-14e5-41ce-a96e-39b2e6c1fda9,2012-02-16,NaN,999-59-9517,NaN,NaN,NaN,Cristobal567,Macejkovic424,NaN,NaN,NaN,white,english,M,Valley Stream New York US,147 Marvin Trailer,East Fishkill,New York,NaN
2,b4cb6463-68c0-4a69-b4ea-c24518ed8b78,2013-06-10,NaN,999-82-6416,NaN,NaN,NaN,Herb645,Kilback373,NaN,NaN,NaN,white,american,M,Preble New York US,258 Wisoky Stravenue Suite 71,Newark,New York,14513.0
3,de354bdc-463d-4e2b-9f1d-a7863cd76ae5,1998-10-19,NaN,999-84-9420,S99947665,X4204022X,Ms.,Nana422,Cole117,NaN,NaN,NaN,white,german,F,Monroe New York US,299 Crooks Promenade,Falconer,New York,14701.0
4,61556e82-a246-436a-9d61-e78097f49a4f,1981-04-01,NaN,999-21-8344,S99912023,X21566036X,Mrs.,Susana117,Crona259,NaN,Volkman526,M,asian,chinese,F,Chongqing Chongqing Municipality CN,553 Cummings Street,Niagara Falls,New York,14301.0

In [61]:
# merge ma datasets
merged_ma = pd.merge(df_allergies_ma, df_careplans_ma, how = 'outer', on = 'PATIENT')

KeyError: "labels ['ENCOUNTER'] not contained in axis"

In [53]:
# merge ma datasets
df_allergies_ma.join(df_careplans_ma)

ValueError: columns overlap but no suffix specified: Index(['START', 'STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'DESCRIPTION'], dtype='object')